p {
  margin: 0;
}

*:focus {
  outline: none;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;

  p, button, input, mat-icon {
    display: block;
    border: none;

  }

  .menu-button {
    visibility: hidden;
  }

  p {
    width: 100%;
    line-height: 48px;
  }
}

div:hover {
  .menu-button {
    visibility: visible;
  }

  // input:focus {
  //   outline: none;
  // }
}
