<div cdkDropListGroup>
  <div class="example-container">
    <div class="chip-box">
      <mat-chip-listbox aria-label="Filter Selection">
        <mat-chip-option
          *ngFor="let filter of filters"
          color="primary"
          [selected]="filter.selected"
        >
          {{ filter.name }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div
      cdkDropList
      [cdkDropListData]="tasks"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let task of tasks" cdkDrag>
        <div class="example-handle" cdkDragHandle>
          <mat-icon class="material-symbols-outlined">drag_indicator</mat-icon>
        </div>
        <div class="task-item">
          <app-task [task]="task"></app-task>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="add-task">
        <div style="visibility: hidden">
          <mat-icon class="material-symbols-outlined">drag_indicator</mat-icon>
        </div>
        <div class="add-task-body" (click)="openAddTaskDialog()">
          <button mat-icon-button>
            <mat-icon class="material-symbols-outlined">add</mat-icon>
          </button>
          <p>Add Task</p>
        </div>
      </div>
    </div>
  </div>
</div>
