// .main {
//   display: flex;
//   flex: auto;
//   justify-content: space-between;
//   margin: 20px;
// }
.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  // width: 500px;
  height: 100%;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  // display: flex;
  margin: 30px;
  position: absolute;
  height: 100%;
  width: 100%;
  // overflow-y: hidden;
  // align-items: center;
  // justify-content: center;
}

.example-sidenav {
  width: 15%;
  padding: 5px;
}

.position-fixed{
  position: fixed
}

mat-menu {
  height: 100px;
  width: 100px;
  margin: 20px;
}

mat-form-field {
  display: flex;
  flex-direction: row-reverse;
  width: 40%;
  height: 70%
}
