<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    matTooltip="{{ sideNavOpened ? 'Close Menu' : 'Open Menu' }}"
    (click)="sideNavOpened = !sideNavOpened"
    aria-label="icon-button with menu icon"
  >
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    matTooltip="Go to home"
    aria-label="icon-button with home icon"
  >
    <mat-icon class="material-symbols-outlined">home</mat-icon>
  </button>
  <button mat-icon-button>
    <span>{{ toolbarTitle }}</span>
  </button>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    (click)="openDialog()"
    matTooltip="Add Task"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="material-symbols-outlined">add_task</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    [matMenuTriggerFor]="menu"
    matTooltip="{{ userLoggedIn ? 'Open Profile Menu' : 'Login' }}"
    aria-label="Example icon-button with share icon"
  >
    <img
      style="border-radius: 50%"
      *ngIf="photoURL"
      src="{{ photoURL }}"
      alt="profile_photo"
    />

    <mat-icon *ngIf="!photoURL" class="material-symbols-outlined"
      >person</mat-icon
    >
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    opened="{{ sideNavOpened }}"
  >
    <app-project-listing [projects]="projectsDetail"></app-project-listing>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-task-list></app-task-list>
  </div>
</mat-drawer-container>

<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item>
    Manage Account
    <mat-icon>manage_accounts</mat-icon>
  </button> -->
  <h1 mat-menu-item disabled style="margin: 0">Your Workspaces</h1>
  <button mat-menu-item (click)="setWorkspace('Personal')">
    Personal
    <mat-icon class="material-symbols-outlined">{{
      selectedWorkspace == "Personal" ? "check" : ""
    }}</mat-icon>
  </button>
  <button mat-menu-item (click)="setWorkspace('Work')">
    Work
    <mat-icon class="material-symbols-outlined">{{
      selectedWorkspace == "Work" ? "check" : ""
    }}</mat-icon>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    Logout
    <mat-icon class="material-symbols-outlined">logout</mat-icon>
  </button>
</mat-menu>
